<div class="row" *ngIf="usuario">

  <div class="col-4">
    <img [src]="usuario.avatar" alt="avatar" class="img-thumbnail">
  </div>

  <div class="col">
    <ul class="list-group">
      <li class="list-group-item"> <b>Nombre: </b> {{ usuario.first_name }} </li>
      <li class="list-group-item"> <b>Apellido:</b> {{ usuario.last_name }} </li>
    </ul>

  </div>

</div>
